{% set page_title = 'Amazon NIC' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% include "../elements/_header.twig" %}
<div class="main_content">
    <div class="block block1 homepage" id="homepage">
        <figure class="block1__bg">
            <img class="pc" src="./assets/images/block1-bg.jpg" alt="CHƯƠNG TRÌNH HỖ TRỢ DOANH NGHIỆP ĐỔI MỚI SÁNG TẠO">
            <img class="mb" src="./assets/images/block1-mb-img-1.jpg" alt="CHƯƠNG TRÌNH HỖ TRỢ DOANH NGHIỆP ĐỔI MỚI SÁNG TẠO">
        </figure>
        <div class="block1__wrap">
            <h2 class="block1__title">
                CHƯƠNG TRÌNH HỖ TRỢ DOANH NGHIỆP ĐỔI MỚI SÁNG TẠO
            </h2>
            <button class="button button-yellow">đăng ký ngay</button>
        </div>
    </div>
    <div class="block block2">
        <div class="block2__wrap">
            <div class="block2__left">
                <div class="block2__text">
                    <div class="block2__text-big">v</div>
                    <p>Với động lực thúc đẩy hệ sinh thái đổi mới sáng tạo Việt Nam, Trung tâm Đổi mới sáng tạo Quốc gia (NIC) đặt trọng tâm vào việc thu hút, tập hợp các nguồn lực, tạo nên một nền tảng kết nối nhằm khuyến khích các chủ thể trong hệ sinh thái tham gia hợp tác, hỗ trợ và cộng hưởng, hướng tới sự phát triển bền vững trong tương lai</p>
                    <p> Chương trình "Hỗ trợ doanh nghiệp đổi mới sáng tạo cùng Amazon" hợp tác giữa NIC và Amazon Global Selling Việt Nam sẽ hỗ trợ các doanh nghiệp Việt Nam tìm hiểu và sử dụng kênh thương mại điện tử xuyên biên giới để đưa các sản phẩm đổi mới sáng tạo, sản phẩm khởi nghiệp của Việt Nam đến thị trường quốc tế. Chương trình nhắm tới đối tượng là các doanh nghiệp sản xuất, kinh doanh sản phẩm tiêu dùng và các doanh nghiệp mong muốn xuất khẩu, xây dựng thương hiệu Việt Nam trên thị trường quốc tế.</p>
                    <p> Doanh nghiệp có mong muốn tìm hiểu và tham gia chương trình vui lòng cung cấp thông tin tại phiếu điền thông tin đăng ký sau:</p>
                </div>
                <button class="button button-yellow">đăng ký ngay</button>
            </div>
            <figure class="block2__right">
                <img src="./assets/images/block2-img.png" alt="CHƯƠNG TRÌNH HỖ TRỢ DOANH NGHIỆP ĐỔI MỚI SÁNG TẠO">
            </figure>
        </div>
    </div>
    <div class="block block3">
        <h2 class="block3__title">
            sự kiện
        </h2>
        <div class="block3__wrap">
            {% for i in  1..4 %}
            <div class="block3__item">
                <figure class="block3__item-img">
                    <img src="./assets/images/block3-img-{{i}}.jpg" alt="">
                </figure>
                <div class="block3__item-content">
                    <div class="block3__item-title">Lorem ipsum dolor sit amet</div>
                    <div class="block3__item-des">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</div>
                    <div class="block3__item-time-addr">
                        <div class="block3__item-time">
                            <b>Thời gian</b>
                            12:30 PM - 24 / 08 / 2019
                        </div>
                        <div class="block3__item-addr">
                            <b> Địa điểm</b>
                            Toà nhà MAC, 95 Pasteur,
                            <br>
                            P. Bến Nghé, Q.1, TP. HCM
                        </div>
                    </div>
                    <div class="block3__item-btns">
                        <button class="button button-blue">ĐĂNG KÝ THAM DỰ</button>
                        <button class="button button-blue-outline">CHIA SẺ NGAY</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="footer">
    © 2020, Amazon Services LLC. All Rights Reserved. An Amazon Company
</div>
</div>
{# modal news #}
{#
<div
    class="modal fade in show news-modal"
    id="News"
    tabindex="-1"
    role="dialog"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <figure class="close" data-dismiss="modal" aria-label="Close">
                <img src="./assets/images/close-product.png" alt="">
            </figure>
            <div class="modal-body">
                <div class="news-modal__title">
                    NHỮNG DỰ ÁN ĐỊNH HƯỚNG PHÁT TRIỂN HẠ TẦNG TP. THỦ ĐỨC
                </div>
                <div class="news-modal__time">
                    30 Jan 2020
                </div>
                <div class="news-modal__content">
                    <p>
                        Theo ông Trần Văn Bảy, Chủ tịch UBND quận 9, do những tuyến đường được đầu tư, nâng cấp thuộc
                        trục giao thông chính của khu vực, mang tính chất kết nối liên quận, liên phường nên việc đầu tư
                        nhằm thúc đẩy phát triển hạ tầng chung, đặc biệt, sẽ định hướng phát triển hạ tầng TP. Thủ Đức
                        trong tương lai.
                    </p>
                    <p>
                        Trao đổi với Nhadautu.vn, ông Trần Văn Bảy, Chủ tịch UBND quận 9 cho biết, ngoài những dự án đang
                        được triển khai, thì hiện quận và Ban quản lý dự án đầu tư xây dựng các công trình giao thông
                        TP.HCM đã lập thủ tục xin chủ trương UBND TP.HCM tiến hành thực hiên nâng cấp, mở rộng một số
                        tuyến đường trọng điểm trên địa bàn trong giai đoạn từ 2021-2025.
                    </p>
                    <p>
                        “Hiện một vài đoạn trên các tuyến đường như Đỗ Xuân Hợp, Lò Lu, Nguyễn Duy Trinh… đã được triển
                        khai trước đó, còn một số khác đã lập thủ tục đề xuất và vẫn đang trong quá trình chờ phê duyệt
                        của UBND TP.HCM để thực hiện”, ông Bảy thông tin.
                    </p>
                    <p>
                        Trong khi đó, nói về mục tiêu đầu tư những tuyến đường, ông Bảy cho hay, do đây là các trục giao
                        thông chính của khu vực, mang tính chất kết nối liên quận, liên phường nên việc đầu tư nhằm thúc
                        đẩy phát triển hạ tầng chung, đặc biệt, sẽ định hướng phát triển hạ tầng TP. Thủ Đức trong tương
                        lai.
                    </p>
                    <p>
                        Đường Đỗ Xuân Hợp

                        Về hiện trạng, dự án có lý trình từ ngã tư đường Bình Thái đến Nguyễn Duy Trinh, đường bê tông
                        nhựa nóng, với bề rộng mặt đường khoảng 7m-10m (lộ giới 30m) và có chiều dài khoảng 4.769m.

                        Theo UBND quận 9, trên tuyến này hiện có 2 dự án đang triển khai thi công là dự án Xây dựng cầu
                        Nam Lý, có tổng mức đầu tư khoảng 529 tỷ đồng; dự án nâng cấp, mở rộng đường Đỗ Xuân Hợp đoạn từ
                        cầu Nam Lý đến đường Nguyễn Duy Trinh với quy mô rộng 30m, chiều dài 1.830m, có tổng mức đầu tư
                        phần xây lắp khoảng 360 tỷ đồng (chưa tính chi phí bồi thường và lập dự án bồi thường riêng).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
#}
{# modal product #}
{#
<div
    class="modal fade in show product-modal"
    id="product-modal"
    tabindex="-1"
    role="dialog"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <figure class="close" data-dismiss="modal" aria-label="Close">
                <img src="./assets/images/close-product.png" alt="">
            </figure>
            <div class="modal-body">
                <div class="product-modal__content d-flex">
                    <div class="product-modal__left">
                        <div class="product-modal__for">
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                        </div>
                        <div class="product-modal__nav">
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                        </div>
                    </div>
                    <div class="product-modal__right">
                        <div class="product-modal__title">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                        </div>
                        <div class="product-modal__des f-flex">
                            <div class="text">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                            </div>
                            <a href="#" class="button button-white-outline">find store</a>
                        </div>
                        <div class="product-modal__detail">
                            <div class="product-modal__detail-wrap">
                                <div class="product-modal__detail-item">
                                    <div class="product-modal__detail-title">1. GIới thiệu</div>
                                    <span> Sữa Rửa Mặt Freeplus Dưỡng Ẩm Dịu Nhẹ Cho Da Mild Soap A là giải pháp làm sạch dành riêng cho da nhạy cảm với các ưu điểm tuyệt vời:</span>
                                    <ul>
                                        <li> - Khả năng tạo bọt dày mịn, làm sạch nhẹ nhàng và hiệu quả, hạn chế việc ma sát trong khi rửa mặt có khả năng gây tổn thương hoặc kích ứng da.</li>
                                        <li>- Thành phần làm sạch từ Amino Acid, giúp da không mất đi độ ẩm sau khi rửa mặt</li>
                                        <li>- Chiết xuất Hồng Táo, Trần Bì củng cố lớp sừng cho da, giúp làn da luôn khoẻ.</li>
                                    </ul>
                                </div>
                                <div class="product-modal__detail-item">
                                    <div class="product-modal__detail-title">2. THÀNH PHẦN CHÍNH:</div>
                                    <span>6 loại thảo mộc Đông Phương giúp tăng sức đề kháng cho da chống lại các tác nhân gây viêm nhiễm:</span>
                                    <ul>
                                        <li> - Khả năng tạo bọt dày mịn, làm sạch nhẹ nhàng và hiệu quả, hạn chế việc ma sát trong khi rửa mặt có khả năng gây tổn thương hoặc kích ứng da.</li>
                                        <li>- Thành phần làm sạch từ Amino Acid, giúp da không mất đi độ ẩm sau khi rửa mặt</li>
                                        <li>- Chiết xuất Hồng Táo, Trần Bì củng cố lớp sừng cho da, giúp làn da luôn khoẻ.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#}
{% endblock %}
